/* ALL THESE ARE ARRANGED IN ORDER SAME AS HTML ORDER */

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h1{
    background-color: blue;
}
#container{
    position:fixed;
    background-color: rgb(248, 245, 245);
    width: 1020px;
    height:720px;
    margin-left: 80px;
}
video{
    width: 420px;
    height: 1000px;
    display: inline;
    border-width: 10px;
    border-color: black;
    margin-left: 40px;
    margin-right: 20px;
    margin-top: -150px;
    border-width: 10px;
    border-color: indigo;
}
#message_header{
    position: relative;
    margin-left: 1100px;
    background-color:rgb(219, 235, 245);
    width: 435px;
    height: 100px;
    border-radius: 30px 30px 0px 0px;
    float: left;
}
#message_container
{
    position: relative;
    margin-left: 1100px; 
    width: 435px;
    height: 540px;
    background-color: rgb(219, 235, 245);
    overflow: auto;
    border-radius: 0px 0px 30px 30px;
}

.btns{
    width: 80px;
    display:block;
    margin-top: -640px;
}
.btns_btn{
    box-shadow: 6px 6px 10px gray ;
    display: block;
    margin-top: 30px;
    margin-left: 5px;
}
#v_btn{
    margin-left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    outline: none;
}
#a_btn{
    margin-left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    outline: none;
}
#join{
    width: 70px;
    height: 50px;
    border-radius: 20px;
    border: none;
    outline: none;
}
#share_screen{
    border-radius: 10px;
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    margin-top: 20px;
    font-size: smaller;
    background-image: url("screen_share.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 15px;
    background-size: cover;
}
#record{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    outline: none;
    font-size: smaller;
    margin-left: 15px;
}
#stop_record{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    outline: none;
    margin-left: 15px;
}
#remoteaudio{
    margin-left: 15px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    outline: none;
}
#message{
    margin-left: 1100px;
    width: 357px;
    position: absolute;
    height: 80px;
    border-color: indianred;
    margin-top: 20px;
    border-radius: 30px;
    outline: none;
}
#send_button{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    outline: none;
    margin-left:1459px;
    margin-top: 6px;
    background-color:skyblue;
    margin-top: 25px;
}

/* REST OF THESE PROPERTIES ARE CRAETED BY JAVASCRIPT */

.local_message{
    background-color:white;
    border-radius: 30px;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: 10px;
    animation-name: round;
    animation-iteration-count: 1;
    animation-duration:3s ;
}
.remote_message{
    background-color:white;
    border-radius:30px;
    margin-left: 10px;
    width: fit-content;
    height: fit-content;
    animation-name: round;
    animation-iteration-count: 1;
    animation-duration:3s ;
}
@keyframes round{
    0%{
        border-radius: 0px;
    }
    100%{
        border-radius: 30px;
    }
}
.inner_message{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
    max-width: 250px;
    font-family: cursive;
    font-style: italic;
}

.setName{
    font-size: 50px;
    font-family: cursive;
    font-weight: bold;
    font-style: italic;
    margin-left: 30px;
    margin-top: auto;
    color: black;
}
